data/art_unit_alice/alice_rejections.csv
data/art_unit_alice/art_unit_counts_oa.csv
data/art_unit_alice/df_oa2_small.csv
data/art_unit_alice/office_actions.csv
data/art_unit_alice/office_actions_101.csv
data/art_unit_alice/rejections.csv
data/art_unit_alice/small_artunit_alice_totals_byapp.csv
data/art_unit_alice/rejection_types_with_alice_2015_to_2017-07-11.csv
